.svg {
      text-align: center;
}
.banner {
    background-color: #222222;
    color:#feffff;
    text-align: center;
    padding: 20px 1;
    font-size: 20px;
    font-family:'PingFang SC Regular', sans-serif;
  }
  .banner a {
    background-color: #282828;
    color:#feffff;
    text-align: center;
    padding:20px 1;
    font-size: 20px;
    font-weight: bold;
    font-family:'PingFang SC Regular', sans-serif;
  }
.navbar {
  overflow: hidden;
  background-color: #282828;
}
.navbar a {
  float: left;
  display: block;
  color: #ffefff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
marquee {
background-color: #282828;
color: #feffff;
      }
body {
  background-attachment: fixed;
  background-color:#222222;
  font-family:'PingFang SC Regular', sans-serif;
  font-size: medium;
}
#main
{
  background: #222222;
  box-shadow: 0 0 40px #00275a;
  margin-top: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#mainwrapper {
  display: table;
  text-align: center;
  margin: 0 auto;
}
h1 {
  color: #34a5da;
  font-size: 44px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #a7a7a7
}
h2 {
  color:#a5aaa9;
  font-size: 35px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #d4d4d4;
}
h3 {
  color:#838787;
  font-size: 30px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #d4d4d4;
}
h4{
  color:#d4d4d4;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #d4d4d4;
}
ul {
  text-align: left;
  margin-top: 20px;
}
p {
  margin-left: 20px;
  color: #fffeff;
}
a {
  color: #4d73bb;
}
footer {
    background-color: #222222;
    color: #ffefff;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.center {
  text-align: center;
}
